@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;800&display=swap');

body {
text-align: center;
background-image: url("https://i1.faceprep.in/among-us-bg.png");
background-size: 100vw 100vh;
background-repeat: no-repeat;
color: white;
font-family: 'Bitter', serif;
}

h1 {
font-size: 48px;
}

label {
font-size: 32px;
margin-right: 30px;
}

button {
display: block;
margin: 20px auto;
width: 150px;
height: 60px;
background-color: #FBB82D;
color: white;
font-family: 'Bitter', serif;
font-size: 24px;
font-weight: 800;
}

.hidden {
display: none;
}

.eject {
position: absolute;
left: -20%;
animation: roll 6s linear;
}

@keyframes roll {
0% {
transform: rotate(0);
left: -20%;
}

100% {
transform: rotate(360deg);
left: 120%;
}
}